<h1>This is Cube @Model.GetId()</h1>
<h3>Properties of your rectangle:</h3>
<p> Rectangle Width = @Model.GetFace().GetWidth()</p>
<p> Rectangle Length = @Model.GetFace().GetLength()</p>
<p> Rectangle Area = @Model.GetFace().GetArea()</p>
<br>
<h3>Properties of your cube:</h3>
<p> Cube Surface Area = @Model.GetSurfaceArea()</p>
<p> Cube Volume = @Model.GetVolume()</p>


<p><a href="/">Make a new rectangle></a></p>
<p><a href="/Rectangle/Cubes">View Cubes</a></p>
